XML/Day04/xsl/booklist.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT booklist (book*) >

<!ELEMENT book (title, author, isbn, price, stock) >

<!ELEMENT title (#PCDATA) >
<!ELEMENT author (#PCDATA) >
<!ELEMENT isbn (#PCDATA) >
<!ELEMENT price (#PCDATA) >
<!ELEMENT stock (#PCDATA) >

<!ATTLIST book
    category CDATA #REQUIRED
>